<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <h1><%= link_to 'Simple Airbnb ', flats_path %></h1>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <%= simple_form_for @flat do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :number_of_guests %>
      <%= f.input :price_per_night %>
      <%= f.submit "Add new", class: "btn btn-primary" %>
      <%= f.submit "Cancel", class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
